<html>
    <head>Login by user Model Schema Function</head>
    <form action = "/user/login2" method="POST">
    <input type="text" name="Username"><br>
    <input type="text" name = "Password"><br>
    <button name="Submit"> Submit </button>
    </form>
</html>